<% if(config.homepage.blog) { %>

  <%- partial('partials/sb', {context: 'index', type: page.type}) %>

  <div class="content blog archive  ">

   <%- partial('partials/archive', {pagination: 2, index: true}) %>

  </div>

<% } else { %>
<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <div class="logo-pin">
      <svg viewBox="0 0 10 10" class="svg-1">
        <path d="M8.6,10H4.3C4,10,3.8,9.9,3.6,9.7L0.3,6.4C0,6.1-0.1,5.8,0.1,5.4c0.1-0.3,0.4-0.5,0.8-0.5h4v-4c0-0.4,0.2-0.7,0.5-0.8 C5.8-0.1,6.1,0,6.4,0.3l3.3,3.3C9.9,3.8,10,4,10,4.3v4.3C10,9.4,9.4,10,8.6,10z M4.5,8.5h4v-4L6.4,2.4v4h-4L4.5,8.5z"/>
      </svg>
      </div>
    </div><div class="right">
      
      <h1><%- config.homepage.headline %></h1>
      <% if(config.homepage.subheadline){ %>
      <h3><%- config.homepage.subheadline %></h3>
      <% } %>
      <p>
        <% if(config.homepage.search) { %>
          <%- partial('partials/searchfield', { context: 'home' }) %>
 
        <% } else { %>
          <a class="button" href="<%- url_for(config.homepage.start) %>">GET STARTED <i class="fa fa-caret-right"></i></a>
        <% } %>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <% Object.keys(config.homepage.bullets).forEach( function(ind){ %>
      <div class="point">
        <h2><%- config.homepage.bullets[ind].title %></h2>
        <p><%- config.homepage.bullets[ind].desc %></p>
        <% if(config.homepage.bullets[ind].link){ %>
          <a href="<%- url_for(config.homepage.bullets[ind].link) %>" class="">Go</a>
        <% } %>
      </div>
    <% }) %>
 
  </div>
</div>

<div id="footer">

  <p>Copyright &copy; <%- new Date().getFullYear() %> Fiction Inc.</p>

  <%- partial('partials/mark', { context: 'index' }) %>

</div>
<% } %>

<script>
// (function () {
//   var topScrolled = false
//   // var sponsors = document.getElementById('sponsors')
//   // var sponsorTop = sponsors.offsetTop
//   // var sponsorActive = false

//   // window.addEventListener('resize', function () {
//   //   sponsorTop = sponsors.offsetTop
//   // })

//   window.addEventListener('scroll', function () {
//     if (window.pageYOffset > 165 && !topScrolled) {
//       topScrolled = true
//       document.getElementById('mobile-bar').classList.remove('top')
//     } else if (window.pageYOffset <= 165 && topScrolled) {
//       topScrolled = false
//       document.getElementById('mobile-bar').classList.add('top')
//     }
//     // if (window.pageYOffset > sponsorTop - 100) {
//     //   if (!sponsorActive) {
//     //     sponsorActive = true
//     //     sponsors.classList.add('active')
//     //   }
//     // } else {
//     //   if (sponsorActive) {
//     //     sponsorActive = false
//     //     sponsors.classList.remove('active')
//     //   }
//     // }
//   })
// })()
</script>
