<!DOCTYPE html>
<html lang="en">
  <head>
    <% var isIndex = page.path === 'index.html' %>
    <%- partial('partials/tag_analytics') %>
    <title><%- page.title ? page.title : config.subtitle %> - <%- config.metatags.title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%- page.excerpt %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta property="og:type" content="article">
    <meta property="og:title" content="<%- page.title ? page.title : config.subtitle %> - <%- config.metatags.title %>">
    <meta property="og:description" content="<%- page.excerpt %>">
    <meta property="og:image" content="https://<%- theme.root_domain %><%- url_for('/images/logo.png') %>">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%- page.title ? page.title : config.subtitle %> - <%- config.metatags.title %>">
    <meta name="twitter:description" content="<%- page.excerpt %>">
    <meta name="twitter:image" content="https://<%- theme.root_domain %>/images/logo.png">

 
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for('/images/logo-48.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for('/images/logo-120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for('/images/logo-144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for('/images/logo-152.png') %>">
    <link rel="apple-touch-icon" sizes="192x192" href="<%- url_for('/images/logo-192.png') %>">

    <link rel="icon" type="image/png" sizes="48x48" href="<%- url_for('/images/logo-48.png') %>">
    <link rel="icon" type="image/png" sizes="120x120" href="<%- url_for('/images/logo-120.png') %>">

    <link rel="icon" href="<%- url_for('/images/logo-144.png') %>?v=2" type="image/png">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="theme-color" content="#FFFFFF">

    <meta name="msapplication-config" content="browserconfig.xml">
    <link rel="manifest" href="/manifest.json">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
    
    <%- partial('partials/tag_typekit') %>

    <!-- main page styles -->
    <%- css('css/page') %>

    <!-- this needs to be loaded before guide's inline scripts -->
    <script src="<%- url_for('/js/vue.min.js') %>"></script>
    <script>window.PAGE_TYPE = "<%- page.type %>"</script>

    
    
  </head>
  <body class="docs">
    <div id="mobile-bar" >
      <a class="menu-button"></a>
      <a class="main-logo" href="https://www.fiction.com?logo=1">
        <%- partial('partials/logo') %>
      </a>
      <a class="sub-domain-info" href="<%- url_for("/") %>">
        <%- config.subtitle %>
      </a>
    </div>
    <%- partial('partials/header') %>
    
      <div id="main" class="fix-sidebar show">
        <%- body %>
      </div>
      <%- partial('partials/search_results') %>

    <script src="<%- url_for('js/encrypt-common.js') %>"></script>
    <script src="<%- url_for('js/crypto-js.js') %>"></script>
    <script src="<%- url_for('/js/smooth-scroll.min.js') %>"></script>

    
    <!-- main custom script for sidebars, version selects etc. -->
    <script src="<%- url_for('/js/css.escape.js') %>"></script>
    <script src="<%- url_for('/js/common.js') %>"></script>

    <%- partial('partials/tag_docsearch') %>

    <!-- fastclick -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      FastClick.attach(document.body)
    }, false)
    </script>
  </body>
</html>
