<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{fontName}}</title>
  <link rel="stylesheet" href="../dist/basic.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		body {
			font-family: sans-serif;
			margin: 0;
			padding: 10px 20px;
		}

		.preview {
			line-height: 2em;
		}

		.preview__icon {
			display: inline-block;
			width: 32px;
			text-align: center;
		}
		{{{styles}}}
	</style>
</head>
<body>
	<h1>{{fontName}}</h1>
	{{#each names}}
	<div class="preview">
		<span class="preview__icon">
			<span class="{{removePeriods ../baseSelector}} {{../classPrefix}}{{this}}"></span>
		</span>
		<span>{{this}}</span>
	</div>
	{{/each}}
</body>
</html>
